body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
}

h1 {
    text-align: center;
    color: #4D4D4D;
    margin-top: 50px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px #DCDCDC;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

.card-header {
    background-color: #4D4D4D;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-body p {
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 20px;
}